body{
    background-image: ;
    font-size: large;
}

.header{
   background-color: black;
   color: gold;
   height: 30px;
   padding: 30px;
   align-items: center;
}
.Search{
    color: rgb(251, 251, 8);
    height: 60%;
    align-items: center;
    
}
button{
    background-color: rgb(113, 111, 122);
    border-radius: 10%;

  
    
}
p{
  font-family: sans-serif,'Times New Roman',serif;

}
 

    
